/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/*Remove default margins,padding & set box-sizing
also sets the font and font color used through most of the layout*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #4E5150;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  min-width: 375px;
  max-height: 1577px;
  margin: 0 auto;
}

.page {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 3% 16% 2%;
  color: #000;
}

/*header styles*/
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__image {
  width: 16%;
  border-radius: 16px;
}

.header__name {
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  margin-top: 2%;
}

.header__location {
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
}

/*header stats styles*/
.header__stats {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 3%;
}

.header__stats-item {
  list-style-type: none;
  width: 100px;
  height: 67px;
  border-radius: 12px;
  padding-top: 2%;
  margin-left: 3%;
  background-color: #E5E5E5;
}

/*this helps center the stat items*/
.header__stats-item:first-of-type {
  margin-left: 0;
}

.header__stats-number {
  font-size: 18px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: center;
}

.header__stats-category {
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: center;
  color: #BDBDBD;
}

/*main layout styles*/
.content {
  margin: 8% auto;
  display: grid;
  width: 100%;
  
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3,auto);
  grid-template-areas: 
    "image1 image2 image2"
    "image3 image3 image4"
    "image6 image5 image4"
  ;
  grid-gap: 4%;
}

/*general image styles*/
.content__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

/*individual image grid area assignments*/
.content__image1 {
  grid-area: image1;
}

.content__image2 {
  grid-area: image2;
}

.content__image3 {
  grid-area: image3;
}

.content__image4 {
  grid-area: image4;
}

.content__image5 {
  grid-area: image5;
}

.content__image6 {
  grid-area: image6;
}

/*footer styles*/
.footer {
  margin-top: 20%;
  color: #B9BDCF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.footer span {
  text-decoration: underline;
  color:#B9BDCF;
  font-weight: 700;
}

/*media queries*/
@media screen and (max-width: 768px) {
  .page {
    padding: 8% 3% 2%;
  }
  .header__image {
    width: 28%;
  }
  .header__name {
    font-size: 14px;
  }
  .header__location {
    font-size: 10px;
  }
  .header__stats-item {
    width: 78px;
    height: 52px;
  }
  .header__stats-number {
    font-size: 12px;
  }
  .header__stats-category {
    font-size: 12px;
  }
}